TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

SUPABASE_URL=https://rnmkcwwdenreezpxfgfn.supabase.co
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=team-files

ADMIN_DASHBOARD_TOKEN=
NEXT_PUBLIC_APP_NAME=Лига лидеров
